html{
  font-family: 'Poppins', sans-serif;
}
p{
  font-size: 15px;
}

#hero {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url('../header.png');
  background-size: cover;
  height: 600px;
}

.heading{
  width: 600px;
  padding-top: 100px;
}
.heading h1{
  font-size: 107px;
  line-height: 10px;
}

#headerbox {
display: flex;
text-align: center;
}

.left,
.right{
  width: 250px;
  font-size: 20px;
  line-height: 20px;
  padding-left: -20px;
  padding-right: 30px;
}

#subheading{
  color: white;
  text-align: center;
  background-color: #ff5c5c;
  padding: 10px;
}
#status {
display: flex;
text-align: center;
justify-content: center;
}

.days,
.money{
  width: 250px;
  font-size: 20px;
  line-height: 20px;
  padding-left: -20px;
  padding-right: 30px;
}
#aboutme,
#howworks,
#graph {
display: flex;
text-align: justify;
align-items: center;
padding-top: 10px;
padding-left: 10px;
}

#graph{
  padding-top: 30px;
}

.copy,
.media{
padding-left: 10px;
padding-right: 10px;
}

#questions{
  padding-left: 10px;
  padding-right: 10px;
}

#procon,
#eg{
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content:center;
}
.pro,
.con{
  width: 400px;
  background-color: #ff5c5c;
  border: 5px solid white;
  color: white;
  font-size: 20px;
  padding: 5px;
}
.add,
.time,
.out{
  width: 200px;
  background-color: white;
  border: 5px solid #ff5c5c;
  color: #ff5c5c;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
